# --- Python & Cache ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/


# Exclude your local PDF storage
src/assets/
.env
# Ignore local Qdrant database files
qdrant_storage/
qdrant_data/
__pycache__/
.venv
# --- OS & IDE Files ---
.vscode/
.idea/
.DS_Store
*.swp
src/venv/

.gradio/certificate.pem
