APP_NAME="call-center-ai"
APP_VERSION="1.0.0"

# qdrant settings
QDRANT_HOST="127.0.0.1"
QDRANT_PORT="6333"

# embedding model settings
EMBEDDING_MODEL="models/gemini-embedding-001"
EMBEDDING_DIMENSION="3072"
# vector collection settings
VECTOR_COLLECTION_NAME="call-center-vectors"
VECTOR_DISTANCE_METRIC="Cosine"

#api settings geimini api key
GEMINI_API_KEY=""
GROQ_API_KEY=""
